{{ define "main" }}
  {{ .Content }}

  <h2>Getting started</h2>
  <div class="dx-grid dx-grid--wide">

    {{ with site.GetPage "getting-started/install" }}
      <a class="dx-card dx-card--link" href="{{ .RelPermalink }}">
        <div class="dx-card__title">{{ .Title }}</div>
        {{- $blurb := .Params.summary | default .Description | default (.Summary | plainify) -}}
        <p class="dx-sub">{{ $blurb | replaceRE "\\s+" " " | truncate 120 }}</p>
      </a>
    {{ end }}

    {{ with site.GetPage "getting-started/design-notes" }}
      <a class="dx-card dx-card--link" href="{{ .RelPermalink }}">
        <div class="dx-card__title">{{ .Title }}</div>
        {{- $blurb := .Params.summary | default .Description | default (.Summary | plainify) -}}
        <p class="dx-sub">{{ $blurb | replaceRE "\\s+" " " | truncate 120 }}</p>
      </a>
    {{ end }}

      {{ with site.GetPage "getting-started/why-namespaced" }}
      <a class="dx-card dx-card--link" href="{{ .RelPermalink }}">
          <div class="dx-card__title">{{ .Title }}</div>
          {{- $blurb := .Params.summary | default .Description | default (.Summary | plainify) -}}
          <p class="dx-sub">{{ $blurb | replaceRE "\\s+" " " | truncate 120 }}</p>
      </a>
      {{ end }}

  </div>

  <h2>Guides</h2>
  {{- $guidePages := where .Site.RegularPages "Section" "guides" -}}
  <div class="dx-grid dx-grid--wide">
    {{- range $guidePages -}}
      <a class="dx-card dx-card--link" href="{{ .RelPermalink }}">
        <div class="dx-card__title">{{ .Title }}</div>
        {{- $blurb := .Params.summary | default .Description | default (.Summary | plainify) -}}
        <p class="dx-sub">{{ $blurb | replaceRE "\\s+" " " | truncate 120 }}</p>
      </a>
    {{- end -}}
  </div>

  <h2>Shortcodes</h2>
  {{- $pages := where .Site.RegularPages "Section" "shortcodes" -}}

  <div class="dx-grid" style="grid-template-columns: 1fr;">
    {{- range $pages -}}
      <a class="dx-card dx-card--link" href="{{ .RelPermalink }}">
        <div class="dx-card__title">{{ .Title }}</div>
        {{- $blurb := .Params.summary | default .Description | default (.Summary | plainify) -}}
        <p class="dx-sub">{{ $blurb | replaceRE "\\s+" " " | truncate 240 }}</p>
      </a>
    {{- end -}}
  </div>
{{ end }}
